#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Nobara Drive Mount Manager
Exec=/usr/bin/nobara-drive-mount-manager
Icon=drive-harddisk
Terminal=false
Type=Application
Categories=System;Filesystem;
Terminal=false
X-KDE-Keywords=Mount,Removable,Device,Automatic,Disk,Drive,Storage
Keywords=Mount,Removable,Device,Automatic,Disk,Drive,Storage
Comment=Configure automatic handling of removable storage media
Comment[ar]=اضبط المعالجة التلقائية لوسائط التخزين القابلة للإزالة
Comment[ast]=Configurar la xestión automática de medios d'atroxamientu estrayibles
Comment[bg]=Настройки на автоматични действия за преносими устройства за съхранение на данни
Comment[bs]=Podešavanje automatskog rukovanja uklonjivim skladišnim medijumima
Comment[ca]=Configura la gestió automàtica dels suports d'emmagatzematge extraïbles
Comment[ca@valencia]=Configura la gestió automàtica dels suports d'emmagatzematge extraïbles
Comment[cs]=Nastavit automatické zacházení s odpojitelnými médii
Comment[csb]=Ùsôdzanié aùtomamtny robòtë z przenosnyma mediama
Comment[da]=Indstil automatisk håndtering af flytbare lagringsmedier
Comment[de]=Automatischen Umgang mit Wechselmedien einrichten
Comment[el]=Διαμόρφωση αυτόματης διαχείρισης των αφαιρούμενων μέσων αποθήκευσης
Comment[en_GB]=Configure automatic handling of removable storage media
Comment[eo]=Agordi aŭtomatan traktadon de demeteblaj datumprotiloj
Comment[es]=Configurar la gestión automática de medios de almacenamiento extraíbles
Comment[et]=Eemaldatavate andmekandjate automaatse käitlemise seadistamine
Comment[eu]=Biltegiratze-euskarri aldagarrien maneiu automatikoa konfiguratzea
Comment[fi]=Irrotettavan tallennusmedian automaattisen käsittelyn asetukset
Comment[fr]=Configure la prise en charge automatique des média amovibles de stockage
Comment[fy]=IT automatysk ôfhanneljen fan útnimbere opslach media ynstelle
Comment[ga]=Cumraigh láimhseáil uathoibríoch meán inbhainte stórála
Comment[gl]=Configura a xestión automática dos medios extraíbeis de almacenaxe
Comment[gu]=દૂર કરી શકાય તેવા સંગ્રહ ઉપકરણોની દેખરેખ રુપરેખાંકિત કરોComment[he]=הגדרת תפעול אוטומטי להתקני אחסון נשלפים.
Comment[hi]=हटाने योग्य भंडारण मीडिया का स्वत: हैंडलिंग कॉन्फ़िर करें
Comment[hr]=Podesi automatsko korištenje uklonjivih medija za pohranu
Comment[hu]=Cserélhető eszközök automatikus kezelésének beállítása
Comment[ia]=Il configura le tractamento automatic de media de immagazinage removibile
Comment[id]=Mengatur penanganan otomatis dari media penyimpanan dapat dilepas
Comment[is]=Stilla sjálfvirka meðhöndlun á fjarlægjanlegum geymslumiðlum
Comment[it]=Configura la gestione automatica dei supporti rimovibili
Comment[ja]=リムーバブルストレージメディアの自動処理を設定
Comment[kk]=Ауыстырмалы сақтағыш тасушылармен автоматты түрде айналысуды баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​គ្រប់គ្រង​ដោយ​ស្វ័យ​ប្រវត្តិ​របស់​មេឌៀ​ផ្ទុក​ចល័ត
Comment[ko]=이동식 저장소 미디어 자동 처리 설정
Comment[lt]=Konfigūruoti automatinį keičiamųjų įrenginių tvarkymą
Comment[lv]=Konfigurēt noņemamo datu nesēju automātisku apstrādi
Comment[mk]=Го конфигурира автоматското ракување со подвижните носачи
Comment[ml]=നീക്കം ചെയ്യാവുന്ന സംഭരണ മാധ്യമത്തിനെ സ്വയം കൈകാര്യം ചെയ്യുന്നതു് ക്രമീകരിയ്ക്കുക.
Comment[mr]=काढता येणाऱ्या संचयन साधनांची स्वयंचलितरित्या हाताळणी संयोजीत कराComment[nb]=Sett opp automatisk håndtering av flyttbare lagringsmedium
Comment[nds]=Dat automaatsche Hanteren vun tuuschbor Spiekerreedschappen instellen
Comment[nl]=Automatische behandeling van verwijderbare opslagmedia configureren
Comment[nn]=Set opp automatisk handtering av flyttbare lagringsmedium
Comment[pa]=ਹਟਾਉਣਯੋਗ ਸਟੋਰੇਜ਼ ਮੀਡਿਆ ਨੂੰ ਆਟੋਮੈਟਿਕ ਹੈਂਡਲ ਕਰਨ ਲਈ ਸੰਰਚਨਾComment[pl]=Ustawienia samoczynnej obsługi urządzeń wymiennych
Comment[pt]=Configurar o tratamento automático dos dispositivos removíveis de armazenamento
Comment[pt_BR]=Configura o funcionamento automático de mídias removíveis
Comment[ro]=Configurează manipularea automată a mediilor de stocare amovibile
Comment[ru]=Настройка автоматического подключения внешних носителей информации
Comment[si]=ඉවත් කල හැකි ගබඩා මෙවලම් වල ස්වයංක්‍රීය හැසිරවීම වින්‍යාසගත කරයි
Comment[sk]=Nastavenie automatického zaobchádzania s vymeniteľnými médiami
Comment[sl]=Nastavi samodejno rokovanje z odstranljivimi nosilci za shranjevanje
Comment[sr]=Подешавање аутоматског руковања уклоњивим складишним медијумима
Comment[sr@ijekavian]=Подешавање аутоматског руковања уклоњивим складишним медијумима
Comment[sr@ijekavianlatin]=Podešavanje automatskog rukovanja uklonjivim skladišnim medijumima
Comment[sr@latin]=Podešavanje automatskog rukovanja uklonjivim skladišnim medijumima
Comment[sv]=Anpassa automatisk hantering av flyttbara lagringsmedia
Comment[tg]=Танзимоти коркарди худкор барои  дастгоҳҳои ҷудошавандаи медиа
Comment[th]=ปรับแต่งการจัดการอัตโนมัติให้กับสื่อจัดเก็บข้อมูลแบบถอด/เสียบได้
Comment[tr]=Çıkarılabilir depolama ortamlarının otomatik yönetimini yapılandır
Comment[ug]=يۆتكىلىشچان ساقلاش ۋاسىتىسىنىڭ ئۆزلۈكىدىن بىر تەرەپ قىلىش سەپلىمىسى
Comment[uk]=Налаштувати автоматичну обробку портативних носіїв даних
Comment[vi]=Cấu hình xử lý tự động các phương tiện lưu trữ tháo gỡ được
Comment[wa]=Apontyî l' apougnaedje otomatike di sopoirts di stocaedje di masse
Comment[x-test]=xxConfigure automatic handling of removable storage mediaxx
Comment[zh_CN]=配置对移动存储设备的自动处理
Comment[zh_TW]=設定可移除儲存裝置的自動處理
