[Desktop Entry]
Name=RPM Installer
Exec=/usr/bin/nobara-rpm-installer
Icon=com.github.nobaraproject.nobarawelcome
Terminal=false
Type=Application
Categories=System;
Terminal=false
