[Desktop Entry]
Name=RPM Installer
MimeType=application/x-rpm
Exec=/usr/bin/nobara-rpm-installer
Icon=com.github.nobaraproject.nobarawelcome
Type=Application
Categories=Utility;
