[Desktop Entry]
Name=Update System
Exec=/usr/bin/nobara-updater
Icon=system-software-update
Terminal=false
Type=Application
Categories=System;
Terminal=false
