[Desktop Entry]
Name[af]=Welkom by Nobara
Name[ar]=مرحبًا بكم في نوبارا
Name[as]=Nobara লৈ স্বাগতম
Name[ast]=Afáyate en Nobara
Name[be]=Вітаем у Nobara
Name[bg]=Добре дошли във Nobara
Name[ca]=Benvingut a Nobara
Name[cs]=Vítejte ve Fedoře
Name[da]=Velkommen til Nobara
Name[de]=Willkommen bei Nobara
Name[eo]=Bonvenon al Nobara
Name[es]=Le damos la bienvenida a Nobara
Name[et]=Teretulemast Nobarasse
Name[eu]=Ongi etorri Nobara-ra
Name[fa]=به نوبارا خوش آمدید
Name[fi]=Tervetuloa Nobaraan
Name[fr]=Bienvenue sur Nobara
Name[fur]=Benvignûts su Nobara
Name[fy]=Wolkom by Nobara
Name[ga]=Fáilte go Nobara
Name[gl]=Benvida/o a Nobara
Name[gu]=Nobara માં સ્વાગત છે
Name[he]=ברוכים הבאים לפדורה
Name[hi]=फेडोरा में स्वागत है
Name[hr]=Dobrodošli u Nobaru
Name[hu]=Üdvözli a Nobara
Name[ia]=Benvenite a Nobara
Name[id]=Selamat datang di Nobara
Name[it]=Benvenuti in Nobara
Name[ja]=Nobara へようこそ
Name[kk]=Nobara-ға қош келдіңіз
Name[kn]=Nobara ಗೆ ಸ್ವಾಗತ
Name[ko]=페도라에 오신 것을 환영합니다
Name[lt]=Sveiki pradėję naudoti Nobara
Name[ml]=ഫെഡോറയിലേക്കു് സ്വാഗതം
Name[mr]=फेडोरावर स्वागत आहे
Name[my]=Nobara မှ ကြိုဆိုပါသည်
Name[nb]=Velkommen til Nobara
Name[nl]=Welkom bij Nobara
Name[or]=Nobara ରେ ଆପଣଙ୍କୁ ସ୍ୱାଗତ
Name[pa]=ਫੇਡੋਰਾ ਵਲੋਂ ਜੀ ਆਇਆਂ ਨੂੰ
Name[pl]=Witaj w Nobarze
Name[pt]=Bem-vindo ao Nobara
Name[pt_BR]=Boas-vindas ao Nobara
Name[ro]=Bun venit la Nobara
Name[ru]=Добро пожаловать в Nobara
Name[sk]=Vitajte v systéme Nobara
Name[sq]=Mirëserdhët në Nobara
Name[sr]=Добродошли у Nobaru
Name[sr@latin]=Dobrodošli u Nobaru
Name[sv]=Välkommen till Nobara
Name[ta]=Nobara க்கு வரவேற்கிறோம்
Name[te]=ఫెడోరాకు స్వాగతం
Name[th]=ยินดีต้อนรับสู่ Nobara
Name[tr]=Nobara'ya Hoş Geldiniz
Name[uk]=Вітаємо у Nobara
Name[zh_CN]=欢迎使用 Nobara
Name[zh_HK]=歡迎使用 Nobara
Name[zh_TW]=歡迎使用 Nobara
Name=Welcome to Nobara
Exec=/usr/bin/nobara-welcome
Icon=fedora-logo-icon
Terminal=false
Type=Application
Terminal=false
Categories=GNOME;GTK;Utility;
Keywords=Gnome;GTK
