[Unit]
Description=Run Nobara Clean Theme Script on Logout
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/share/plasma/look-and-feel/org.nobaraproject.desktop/nobara-clean-theme.sh

[Install]
WantedBy=shutdown.target
